<header id="header" class="dark">
     <div class="header-inner">
         <div class="container">
             <!--Logo-->
             <div id="logo">
                 <a href="{{ path('front_index') }}">
                     <span class="logo-default">MHOTEL</span>
                     <span class="logo-dark">MHOTEL</span>
                 </a>
             </div>
             <!--End: Logo-->
             <div id="mainMenu-trigger">
                 <a class="lines-button x"><span class="lines"></span></a>
             </div>
             <!--end: Navigation Resposnive Trigger-->
             <!--Navigation-->
             <div id="mainMenu">
                 <div class="container">
                     <nav>
                         <ul>
                             <li><a href="{{ path('front_index') }}">Accueil</a></li>
                             <li><a href="{{ path('rooms') }}">Chambres</a></li>
                             <li><a href="{{ path('about') }}">A propos</a></li>
                             {% if app.user %}
                                 <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
                             {% else %}
                                 <li><a href="{{ path('app_login') }}">Connexion</a></li>
                                 <li><a href="{{ path('app_login') }}">inscription</a></li>
                             {% endif %}
                         </ul>
                     </nav>
                 </div>
             </div>
             <!--end: Navigation-->
         </div>
     </div>
 </header>