{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
    <!-- SLIDER -->
    <section class="fullscreen" id="vegas-slideshow">
        <div class="bg-overlay"></div>
        <div class="container-fullscreen">
            <div class="text-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text-light">
                                <h1 class="text-medium no-margin text-colored">Votre confort</h1>
                                <h2 class="no-margin text-colored">Notre priorité</h2>
                            </div>
                        </div>
                        <div class="col-lg-5">
                                <div class="col-lg-12">
                                    <a href="{{ path('rooms') }}" class="btn btn-lg btn-colored float-right">Voir les chambres</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- ROOMS -->
    <section>
        <div class="container">
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">
                    <strong>Info!</strong> {{ message }}.
                </div>
            {% endfor %}

            <div class="text-center m-b-40">
                <h2 class="text-medium m-t-0">Hotel Rooms</h2>
                <div class="seperator"><i class="fa fa-dot-circle-o"></i></div>
                <p class="lead">Hotel “POLO” is a peaceful and well-equipped holiday hotel. Thanks to the favourable situation close to the beach, the woods and the village centre, it is an ideal hotel, where you will certainly feel at home.</p>
            </div>
            <div class="row">
                {% for room in rooms  %}
                    <div class="col-lg-4">
                        <div class="room">
                            <div class="room-image">
                                <img src="{{ 'images/rooms/'~room.image }}" alt="{ room.name }}">
                                <div class="room-title">{{ room.name }}</div>
                            </div>
                            <div class="room-details">
                                <p>{{ room.description }}</p>
                                <div class="float-left">
                                    <h4>{{ room.price }}$<small>/ Day</small></h4>
                                </div>
                                <div class="float-right">
                                    <a href="{{ path('room_detail',{'id':room.id}) }}" class="btn btn-colored">Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-danger w-100">
                        <strong>Attention!</strong> Toutes les chambres sont occupées
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- end: ROOMS -->


{% endblock %}
